<h1>Books</h1>
<%= paginate @books %>
<% @books.each do |book| %>
<!--<%= book_link book %>-->
  <p>
    <a href="/books/<%= book.id %>">
      <% if(book.category)%>
        <%= book.title %> (<%= book.category.name%>)
      <% else %>
        <%= book.title %>
      <% end %>
    </a>
  </p>
<% end %>
<%= render "form", categories: @categories %>
